* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-image: url(../js/img/wall.png);
}

main {
  background-image: url(../js/img/cork.png);
}

h1,
p {
  font-family: 'Edu TAS Beginner', sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#overlayImage {
  max-width: 60vw;
  max-height: 60vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

.col-12 {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.col-12:hover {
  transform: scale(1.1) rotate(10deg);
  box-shadow: 10px 15px rgba(0, 0, 0, 0.5);
}

#button {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}